.second-header {
  width: 100%;
  min-width: 800px;
  height: 250px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  min-width: 300px;
  height: 250px;
}