.current-time-btn {
  width: 120px;
  background: #0099e8;
  box-shadow: 6px 6px 3px #888888;
  text-align: center;
  border-radius: 25%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.current-time-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: large;
}

.current-time-btn-icon {
  width: 60%;
  border-radius: 0.8em;
}

.current-time-btn button {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
}

.current-time-btn button:hover {
  opacity: 0.2;
  background-color: white;
  border: white;
  transition: .3s;
}

