.current-time-btn {
  width: 120px;
  background: #0099e8;
  box-shadow: 6px 6px 3px #888888;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.current-time-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.current-time-btn-icon {
  width: 60%;
  border-radius: 0.8em;
}

.current-time-btn button {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.current-time-btn button:hover {
  opacity: 0.2;
  background-color: white;
  border: white;
  transition: .3s;
}

.radioArea input[type="radio"] {
  width         : 20pt;        /* 大きさ：横 */
  height        : 40pt;        /* 大きさ：縦 */
  vertical-align: top;         /* 並び位置   */
  visibility    : hidden;      /* チェックボックスを非表示 */
}

 /* --- チェックボックス直後のlabel --- */
.radioArea input[type="radio"] + label {
  padding       : 20px 32px;                  /* labelの余白 */
  font-size     : 18pt;                       /* labelの文字サイズ */
  font-weight   : bold;                       /* 文字太さ   */
  border        : 2px solid rgba(0, 0, 0, 0); /* labelの枠線 */
  border-radius : 5px;                        /* labelの角丸 */
  cursor        : pointer;                    /* カーソル設定 */
  transition    : .2s;                        /* なめらか変化 */
}
 /* --- 選択されたチェックボックス直後のlabel --- */
.radioArea input[type="radio"]:checked + label {
  border        : 2px solid #0e51a2; /* labelの枠線 */
}
 /* --- 選択されていないチェックボックス直後のlabelにマウスが乗った --- */
.radioArea input[type="radio"]:not(:checked) + label:hover {
  background    : rgba(30, 101, 255, 0.2);     /* lebelの背景 */
}
