.items-form-contents {
  background-color: #f5f5f5;
  font-family: 'mplus';
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-form-header {
  padding: 5vh 0;
  text-align: center;
}

.items-form-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 5vh 15vw;
}

.items-form-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
/* /共通 */

.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

.items-detail {
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}


/* 交通費 */
.form-carfare {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.carfare-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carfare-text {
  display: flex;
  align-items: center;
}

.carfare-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /交通費 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.form-btn-contents {
  width: 100%;
  text-align: center;
}

.form-btn {
  background: #0099e8;
  border: 1px solid #0099e8;
  box-shadow: 3px 4px 2px #888888;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  border-radius: 0.5em;
  transition: .3s;
}

.form-btn-contents :hover{
  opacity: 0.8;
  background-color: #0099e8;
  box-shadow: none;
  transition: .3s;
}


.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.items-form-footer {
  background-color: #f5f5f5;
  width: 100vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-form-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 15px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

.radioArea input[type="radio"] {
  width         : 20pt;        /* 大きさ：横 */
  height        : 40pt;        /* 大きさ：縦 */
  vertical-align: top;         /* 並び位置   */
  visibility    : hidden;      /* チェックボックスを非表示 */
}

 /* --- チェックボックス直後のlabel --- */
.radioArea input[type="radio"] + label {
  padding       : 20px 32px;                  /* labelの余白 */
  font-size     : 18pt;                       /* labelの文字サイズ */
  font-weight   : bold;                       /* 文字太さ   */
  border        : 2px solid rgba(0, 0, 0, 0); /* labelの枠線 */
  border-radius : 5px;                        /* labelの角丸 */
  cursor        : pointer;                    /* カーソル設定 */
  transition    : .2s;                        /* なめらか変化 */
}
 /* --- 選択されたチェックボックス直後のlabel --- */
.radioArea input[type="radio"]:checked + label {
  border        : 2px solid #0e51a2; /* labelの枠線 */
}
 /* --- 選択されていないチェックボックス直後のlabelにマウスが乗った --- */
.radioArea input[type="radio"]:not(:checked) + label:hover {
  background    : rgba(30, 101, 255, 0.2);     /* lebelの背景 */
}

@media screen and (max-width: 480px) {
  .items-form-main {
    background-color: #FFF;
    width: 70vw;
    min-width: 450px;
    padding: 1vh 15vw;
  }
  .top-page-header {
    width: 100vw;
    padding: 1vh 15vw;
    display: flex;
  }
  
  
}
