<footer class="items-sell-footer">
  <ul class="menu">
    <li><a href="https://bg8.power-k.jp/2I24E5D5">パワーナレッジで確認</a></li>
    <li><a href="https://www.chatwork.com/">ChatWorkで確認</a></li>
    <li><a href="https://drive.google.com/drive/u/0/folders/17jBXHMOA3Lt77V-w3gD2o-TYfVfp-suA">Googleドライブで確認</a></li>
  </ul>
  <%= link_to image_tag('IK.png' , size: '60x50'), "/" %>
  <p class="inc">
    ©︎IK,Inc.
  </p>
</footer>
