<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>アイケー・メディケアワークス</p>
    <p class="second-fotter-text">©︎IK,Inc.</p>
  </div>
  <%= image_tag 'IK.png', class:"second-fotter-logo" %>
</footer>
