<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>アイケー・メディケアワークス</p>
  </div>
  <%= image_tag 'https://user-images.githubusercontent.com/71745650/98348206-c5592a80-205b-11eb-864a-7d9c4fa4a35f.jpg', class:"second-fotter-logo" %>

</footer>