// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'mplus';
  src: font-url('mplus-1p-light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}