<%= render "shared/header" %>

<div class="contents row">
  <div class="success">
    <h3>入力処理が完了しました。</h3><br>
    <a class="btn" href="/">勤怠入力へ戻る</a>
  </div>
  <div class="items-form-title">
    <h5>LINE</h5>
    <%= link_to image_tag('line-brand-asset.png' , size: '60x60', class: "line-btn-icon"), line_attendances_path %>
    <div class='info-text'>勤怠管理の入力完了を<br>LINEで報告する<br>※メッセージが自動送信されます</div>
  </div>
</div>
<%= render "shared/footer"%>