<%= render "shared/second-header"%>

<div class="contents row">
  <div class="success">
    <h3>入力が完了しました。</h3>
    <a class="btn" href="/">勤怠入力へ戻る</a>
  </div>
</div>
<%= render "shared/second-footer"%>