.contents.row {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
    flex-direction: column;
    margin: 0 5px 90px;
    
}

.attendances{
  height: 30%;
  flex-direction: column;

}

.content_post{
  color: cornflowerblue;
  font-size: 13px;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.attendances-info {
  color: grey;
  margin-left: 7pt;
}

.userinfo {
  border: 0.3px cornflowerblue solid ;
  padding: 1px 15px;
}